
<head>
  <title>Bufete de abogados Azurduy</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/sass/main.scss">
  <noscript><link rel="stylesheet" href="/public/css/noscript.css" /></noscript>
</head>
<body>
  <div id="page-wrapper">

    <!-- Header -->
      <header id="header">
        <h1 id="logo">
          <a href="/index">
            <img src="https://storage.googleapis.com/primerstorage/LogoA-removebg-preview.png" alt="Azurduy & Asociados" style="max-width: 100%; height: 50px;">
          </a>
        </h1>
        
        <nav id="nav">
          <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/abogados">Nuestro Equipo</a></li>
             <li><a href="/index#four">¿Porqué elegirnos?</a></li>
            <li><a href="/index#one">Sobre Nosotros</a></li>
            
            <li><a href="/index#footer">Contáctenos</a></li> 
            
            <% if (!user) { %>
              <li><a href="/signup" class="button fit">Regístrate</a></li>
              <li><a href="/" class="button primary">Iniciar Sesión</a></li>
              <% } else { %>
                <li><a href="/mis-casos">Mis Casos</a></li>  
              <li><a href="/citas">Mis Citas</a></li>
              <li><a href="/profile" class="button primary">Perfil</a></li>
              <li><a href="/logout" class="button fit">Cerrar Sesión</a></li>
              <% } %>
            
          </ul>
        </nav>
      </header>

