
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>

    
  </head>
  <body>
    <style>

    </style>
    <div style="font-size: medium;">
      <%-include('../views/layouts/layoutP.ejs')%>
    </div>
    

    <div id="calendar" style="color:white"></div>
    <!-- En la vista 'Citas' -->
    
  
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js"></script>
    <script src="/javascript/calendar.js"></script>
    
   

      
      
    
<div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" id="xclose">&times;</span>
      <h2>Crear Cita</h2>
      <form>
        <label for="title">Motivo de la cita:</label>
        <input type="text" id="title" name="motivo" required />
        <label for="date">Fecha:</label>
        <input type="text" id="date" name="fecha" readonly />
        <label for="time">Hora Inicio (HH:mm):</label>
        <label for="time">Hora Fin (HH:mm):</label>
        <input type="time" id="time" name="hora" min="08:00" max="18:00" step="1800" required />
        <button type="submit" id="save-event">Guardar</button>
      </form>
    </div>
  </div>
  <style>
 .fc-day {
    background-color: #000000d5;
    border: none;
    padding: 30px;
    
  }
    .modal {
      color: rgb(255, 255, 255);
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
    }
  
    .modal-content {
      color: rgb(255, 255, 255);
      background-color: #ffffff7a;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
  
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
  <div id="eventModal" class="modal">
    <div class="modal-content">
      <span id="eventClose" class="close">&times;</span>
      <h2>Detalles de la cita</h2>
      <p id="eventMotivo"></p>
      <p id="eventFecha"></p>
      <p id="eventHora"></p>
      <p id="eventHoraFin"></p>
      <p id="eventabogado"></p>
      <p id="eventEstado"></p>
    </div>
  </div>
  
  </body>
</html>
