<!DOCTYPE HTML>
<html>
	<head>
		<title>Bufete de abogados Azurduy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/sass/main.scss">
		<noscript><link rel="stylesheet" href="/public/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<%-include('../views/layouts/layout-index.ejs')%>
			
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Azurduy & Asociados</h2>
							<p>NOSOTROS LUCHAMOS. <BR>
								USTED GANA. ELLOS PAGAN.</p>
						</header>
						<span class="image"><img src="https://storage.googleapis.com/primerstorage/logofondo.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="https://storage.cloud.google.com/primerstorage/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>Estudio Jurídico</h2>
										<p>Azurduy & Asociados</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>En nuestro bufete de abogados, nos enorgullece ofrecer servicios de asesoramiento legal de alta calidad a nuestros clientes.
										Contamos con un equipo de abogados altamente capacitados y experimentados que están comprometidos en brindar soluciones legales efectivas y personalizadas a cada caso. Nos enfocamos en comprender las necesidades y objetivos de nuestros clientes y trabajamos incansablemente para garantizar su éxito.
									</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>Desde asuntos legales complejos hasta consultas legales cotidianas, estamos aquí para ayudarte en cada paso del camino. Con nuestro enfoque orientado al cliente y nuestra amplia experiencia legal, puedes confiar en nosotros para proteger tus derechos y obtener los resultados que deseas. ¡Contáctanos hoy para descubrir cómo podemos ayudarte!</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="https://storage.googleapis.com/primerstorage/pic03.jpg" alt="" /></span>
					<div class="content">
						<br><br>
						<header>
							<h2>Visión</h2>
							<p>Ofrecer servicios de asesoramiento legal de calidad en materia penal y otras áreas del derecho. Asi como brindar a nuestros clientes un servicio integral, efectivo y confiable, que les permita tomar decisiones informadas y proteger sus derechos.  </p>
						</header>
						
						
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="https://storage.googleapis.com/primerstorage/pic04.jpg" alt="" /></span>
					<div class="content">
						<br><br>
						<header>
							<h2>Misión</h2>
							<p>Ofrecer atención y representación legal óptima a clientes mediante soluciones integrales y eficientes, con un enfoque en tecnología y personal altamente capacitado, buscando liderazgo en el ramo, satisfacción del cliente y crecimiento sostenible.</p>
						</header>
						
						
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>¿Porqué elegirnos?</h2>
							
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Comunicación directa</h3>
									</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-glasses"></span>
									<h3>Atención personalizada</h3>
									</section>
								
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-user-graduate"></span>
									<h3>Mas de 30 años de experiencia combinada entre nuestros abogados</h3>
									</section>
								
							</div>
						</div>
						
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					
					<div class="container">
						
						<header>
							<h2>Regístrate ahora para obtener asesoramiento legal personalizado y exclusivo.</h2>
							
						</header>
						<a href="#" class="button primary large">Regístrate</a>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-whatsapp"><span class="label">Twitter</span></a>
						<p>77753454</p></li>
						<li><a href="#" class="icon solid alt fa-phone"><span class="label">Email</span></a>
						<p>2-2204548</p></li>
						
						
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a>
						<p>ivanazurduye@hotmail.com</p></li>
					</ul>
					<ul class="icons">
					<li><a href="#" class="icon solid alt fa-map-marked-alt"><span class="label">GitHub</span></a>
						</li>
						<li><p>Calle Juan de la Riva Nº1406,Esq. Loayza Edif. "Alborada". Piso 13 Of. 1301</p></li>
					</ul>
						<ul class="copyright">
						<li>&copy; 2023 Derechos reservados. Los hijos del bicho</li>
						<li><a href="#" class="icon brands alt fa-galactic-republic"></a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="/javascript/jquery.min.js"></script>
			<script src="/javascript/jquery.scrolly.min.js"></script>
			<script src="/javascript/jquery.dropotron.min.js"></script>
			<script src="/javascript/jquery.scrollex.min.js"></script>
			<script src="/javascript/browser.min.js"></script>
			<script src="/javascript/breakpoints.min.js"></script>
			<script src="/javascript/util.js"></script>
			<script src="/javascript/main.js"></script>

	</body>
</html>